body {
    background-color: #202020;
    font-family:initial;
}
#nav {
    max-width: 800px;

    margin: 20px auto 20px auto;
    
    text-align:center;
}
#nav a {
    background-color: #ffffff;
    color:#000;
    text-decoration:none;
    transition: color 0.25s 0s;
    border:2px solid #000000;

    font-size: 1.5rem;
    border-radius:5px;

    padding: 1px 0px 1px 0px;
    display:inline-block;
    width:105px;
}
#nav > * {
    margin:5px 0 5px 0;
}
#nav a:hover, .highlightHover:hover {
    color:grey;
}
.inside {
    max-width: 800px;
    margin:auto;

    text-align:center;
    color:white;

    font-size:1.1rem;
    padding:5px;
}
#input {
    height:250px;
    resize:none;
    font-family:monospace;
    color:#40ff40;

    background-color:#000000;
    font-size:14px;

    width: 100%;
    border:0;
    box-shadow: none;
    outline: none;
    border-radius:5px;
}

.highlightHover {
    transition: color 0.25s 0s;
}

.io-container {
    display:block;
    margin:15px 0 15px 0;
    width:100%;
    border:2px solid #ffffff;
    border-radius:5px;
    
    text-align:left;
    background-color:#000000;
}
#log {
    overflow-wrap:break-word;
    white-space:pre-wrap;
    font-family:monospace;
    color:#40ff40;

    padding:5px;
    width:100%;
}
.io-container > button {
    color:#ffffff;
    display:block;
    width:100%;
    font-size:1.5rem;
    text-align:center;


    background-repeat:repeat-x;
    background-image: url(grey-stripes.png);
    background-size: contain;

    border: 0;
}
#compile {
    border-radius: 0px 0px 5px 5px;
}
#copy {
    border-radius: 5px 5px 0px 0px;
}